html,
body {
    height: 100%;
    margin: 0;
}

.Row {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.Column {
    display: table-cell;
}

#map {
    height: 100%;
    width: 75%;
}

#map-details {
    height: 100%;
    width: 25%;
    padding: 25px;
}